<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<label style="margin-left: 250px;margin-top: 10px;font-size: 20px">Upload Text File</label>
<%= file_field_tag("file",:style => "margin-top:-30px", :class=>"align-center") %>
