<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<label style="margin-left: 250px;margin-top: 10px;font-size: 20px"> Text </label>
<%= text_area_tag("text", '' ,:id => "text_area", :style => "width:500px;margin-top:-20px", :class=>"align-center", :size => "25x10") %>