<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="cl-10"></div>
<div class="info-box">You can either copy past the text or upload a text file that contains emails to be extracted</div>
<div class="cl-20"></div>
<div class="form-box">
  <%= form_tag( email_extract_path, :id=>"EMAIL_Extract" , :style=>"margin-top:50px;" ) do %>
    <%= render :partial => "/home/input" %>

    <%= submit_tag "Extract", :class => "float-right btn btn-primary", :style=>"margin-right:315px;margin-top:20px", :onclick=>"$(this).button('loading');", "data-loading-text"=>"Saving" %>

  <%  end %>
  <div class="cl-50"></div>
</div>