<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

    <div class="cl-10"></div>
    <div class="info-box">You can either copy past the text or upload a text file that contains emails to be extracted</div>
    <%= form_tag( email_extract_path, :id=>"EMAIL_Extract" , :style=>"margin-top:50px;" ) do %>
      <%= render :partial => "/home/input" %>
    <%  end %>